
*.suo
*.user
*.sln.docstates

# paket
paket-files/
packages/

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# NCrunch
_NCrunch_*
.*crunch*.local.xml

